<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- 1. FIRST DEFINE ALL ACTIONS -->
    <record id="action_formora_templates" model="ir.actions.act_window">
        <field name="name">Formora Templates</field>
        <field name="res_model">formora.template</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_formora_import_wizard" model="ir.actions.act_window">
        <field name="name">Import Formora Data</field>
        <field name="res_model">formora.import.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

    <!-- 2. THEN DEFINE MENU ITEMS THAT REFERENCE THOSE ACTIONS -->
    <menuitem id="menu_formora_root" name="Formora" sequence="10"/>
    
    <menuitem id="menu_formora_templates" 
              name="Templates" 
              parent="menu_formora_root" 
              action="action_formora_templates" 
              sequence="20"/>
              
    <menuitem id="menu_formora_import" 
              name="Import Data" 
              parent="menu_formora_root" 
              action="action_formora_import_wizard" 
              sequence="30"/>
</odoo>